# ── Discord Webhook ──────────────────────────────────────────────────────────
DISCORD_CONTACT_WEBHOOK_URL=votre-webhook-discord-ici
DISCORD_ADMIN_WEBHOOK_URL=votre-webhook-discord-ici

# ── Cloudflare Turnstile ─────────────────────────────────────────────────────
NEXT_PUBLIC_TURNSTILE_SITE_KEY=votre-clé-site-turnstile-ici
TURNSTILE_SECRET_KEY=votre-clé-secrète-turnstile-ici
  
# ── Umami Analytics ──────────────────────────────────────────────────────────
NEXT_PUBLIC_UMAMI_WEBSITE_ID=votre-id-umami-ici

# ── Base de données Sqlite ───────────────────────────────────────────────────
DATABASE_URL="file:./dev.db"