<nav id="mainNavbar" class="navbar">
    <link rel="stylesheet" href="/styles/navbar.css" />
      <a href="/" data-umami-event="nav-click" data-umami-event-page="accueil">
        <img src="/assets/logo/Logo complet naruto.jpg" alt="logos naruto" height="40" class="logo" />
      </a>
      <!-- Liens de navigation pour ordinateur -->
      <div class="nav-links">
        <ul>
          <li class="has-sous-nav"><a href="/story" data-umami-event="nav-click" data-umami-event-page="histoire">Histoire</a></li>
          <li class="has-sous-nav"><a href="/characters" data-umami-event="nav-click" data-umami-event-page="personnages">Personnages</a></li>
          <li class="has-sous-nav"><a href="/saga" data-umami-event="nav-click" data-umami-event-page="saga">Saga</a></li>
          <li class="has-sous-nav"><a href="/contact" data-umami-event="nav-click" data-umami-event-page="contact">Contact</a></li>
        </ul>
      </div>
      <!-- Bouton hamburger pour mobile -->
      <button class="hamburger" id="hamburger">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <!-- Volet latéral pour mobile -->
      <div class="side-menu" id="side-menu">
        <ul>
          <li class="has-sous-nav"><a href="/story" data-umami-event="nav-click" data-umami-event-page="histoire">Histoire</a></li>
          <li class="has-sous-nav"><a href="/characters" data-umami-event="nav-click" data-umami-event-page="personnages">Personnages</a></li>
          <li class="has-sous-nav"><a href="/saga" data-umami-event="nav-click" data-umami-event-page="saga">Saga</a></li>
          <li class="has-sous-nav"><a href="/contact" data-umami-event="nav-click" data-umami-event-page="contact">Contact</a></li>
        </ul>
      </div>
    </nav>