*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: "Nunito", "arial" !important;
    background-color: #212F3C;
    color: white;
    padding-top: 60px;
    overflow-x: hidden;
    min-height: 100vh; 
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
  flex: 1;
  justify-content: center;
  align-items: center;
}